{% extends 'staff_base.html' %}
{% block content %}
        <main>
            <div class="projects-section">
                <div class="projects-section-header">
                 
                     <div class="message">
                            <h1>Hello {{ admin_username }},</h1>
                            <h1>{{ message }}</h1>
                            {% if not appointments %}
                                <h1>No appointments found.</h1>
                            {% endif %}                            
                        </div>
                    
            <p class="time">{{ current_date }}</p>
                </div>
                  </div>
                
                <div class="project-boxes jsGridView">
                {% for appointment in appointments %}  
                  <div class="project-box-wrapper">
                    <div class="project-box" style="background-color: white">
                      <div class="project-box-header">
                        <span>{{ appointment.appointment_date }}</span>
                        <span>{{ appointment.appointment_time }}</span>
                        </div>


                  <div class="project-box-content-header">
                    <p class="box-content-header">{{ appointment.client_name }}</p>  
                  {% if not appointments %}
                    <p class="box-content-subheader">No appointments.</p>
                  </div>
                  {% endif %}
                  
                  <div class="project-box-footer">
                    <div class="info">
                      <a href="{{url_for ('appointments') }}">More info</a>
                    </div>
                    
                  </div>
                </div>
              </div>  
            </div>  
                {% endfor %}
          </div>
        <div class="content" id="main-content">
            <div id="dynamic-content">
                <!-- Content will be loaded here dynamically -->
            </div>
        </div>
    
</main>
{% endblock %}
