{% extends 'staff_base.html' %}
{% block content %}
        <main>
            <div class="projects-section">
                <div class="projects-section-header">
                 
                     <div class="message">
                            <h1>Hello {{ admin_username }},</h1>
                            <h1>{{ message }}</h1>
                            {% if not appointments %}
                                <h1>No appointments found.</h1>
                            {% endif %}                            
                        </div>
                    
            <p class="time">{{ current_date }}</p>
                </div>
                  </div>
                
                <div class="project-boxes jsGridView">
                {% for appointment in appointments %}  
                  <div class="project-box-wrapper">
                    <div class="project-box styled-card">
                      <div class="project-box-header styled-card-header">
                        <div>
                          <span class="date">{{ appointment.appointment_date }}</span>
                          <span class="time">{{ appointment.appointment_time }}</span>
                        </div>
                        <span class="status-badge
                          {% if appointment.status == 'pending' %}status-pending
                          {% elif appointment.status == 'accepted' %}status-accepted
                          {% elif appointment.status == 'rescheduled' %}status-rescheduled
                          {% elif appointment.status == 'canceled' %}status-canceled
                          {% endif %}">
                          {{ appointment.status|capitalize }}
                        </span>
                      </div>
                      <div class="project-box-content-header styled-card-content">
                        <p class="box-content-header client-name">{{ appointment.client_name }}</p>
                        {% if not appointments %}
                          <p class="box-content-subheader">No appointments.</p>
                        {% endif %}
                      </div>
                      <div class="project-box-footer styled-card-footer">
                        <a href="{{url_for ('appointments') }}" class="info">More info</a>
                        <form action="{{ url_for('delete_appointment', appointment_id=appointment.id) }}" method="post">
                          <button type="submit"
                            class="delete-btn"
                            onclick="return confirm('Are you sure you want to delete this appointment?');">
                            Delete
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>  
                {% endfor %}
              </div>  
            </div>  
        <div class="content" id="main-content">
            <div id="dynamic-content">
                <!-- Content will be loaded here dynamically -->
            </div>
        </div>
    
</main>
</table>
{% endblock %}
